@tailwind base;
@tailwind components;
@tailwind utilities;

.ruwudu-font {
  font-family: "Ruwudu";
}

.viga-font {
  font-family: "Viga";
}

@font-face {
  font-family: "DS-Digital";
  src: url("./fonts/DS-DIGI.TTF") format("truetype");
}

.date-time-information {
  font-family: "DS-Digital"; /* Use a fallback font like 'sans-serif' in case the custom font doesn't load */
}

.full-width {
  width: 100vw; /* This sets the width to 100% of the viewport width */
  box-sizing: border-box; /* This ensures padding and border are included in the total width */
}

/* Ensure .hero and its children elements are also full width */
.hero {
  width: 100%;
}

.hero-content {
  width: 100%;
}

/* Remove any unwanted margins and paddings */
.date-time-information,
.prayer-times,
.max-w-md {
  margin: 0;
  padding: 0;
  width: 100%;
}
